/Makefile
/Makefile.in
/aclocal.m4
/build-aux/
/config.cache
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/libtool
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/pam-krb5-*
/pam_krb5.5
/stamp-h1
/tests/config/admin-keytab
/tests/config/keytab
/tests/config/password
/tests/config/pkinit-cert
/tests/config/pkinit-principal
/tests/module/alt-auth-t
/tests/module/bad-authtok-t
/tests/module/basic-t
/tests/module/cache-cleanup-t
/tests/module/cache-t
/tests/module/expired-t
/tests/module/fast-t
/tests/module/no-cache-t
/tests/module/pam-user-t
/tests/module/password-t
/tests/module/pkinit-t
/tests/module/realm-t
/tests/module/stacked-t
/tests/module/trace-t
/tests/pam-util/args-t
/tests/pam-util/fakepam-t
/tests/pam-util/logging-t
/tests/pam-util/options-t
/tests/pam-util/vector-t
/tests/portable/asprintf-t
/tests/portable/mkstemp-t
/tests/portable/snprintf-t
/tests/portable/strlcat-t
/tests/portable/strlcpy-t
/tests/portable/strndup-t
/tests/runtests
.deps/
.dirstamp
.libs/
*.a
*.la
*.lo
*.o
