Source: libpam-krb5
Section: net
Priority: optional
Maintainer: Sam Hartman <hartmans@debian.org>
Uploaders: Russ Allbery <rra@debian.org>
Standards-Version: 3.7.2
Build-Depends: debhelper (>= 5), libkrb5-dev, comerr-dev, libpam0g-dev

Package: libpam-krb5
Architecture: any
Depends: ${shlibs:Depends}, krb5-config
Conflicts: libpam-heimdal
Description: PAM module for MIT Kerberos
 A Kerberos v5 PAM module build against the MIT Kerberos libraries.  It
 supports authenticating against a Kerberos v5 KDC, obtaining tickets and
 populating an initial ticket cache, authorizing users via a ~/.k5login
 file, and changing Kerberos v5 passwords.
