#!/usr/bin/make -f

build: build-arch build-indep
build-arch: build-stamp
build-indep:
build-stamp:
	dh build --before configure
	dh_auto_configure -- --enable-reduced-depends --libdir=/lib
	dh build --after configure
	touch $@

%:
	dh $@

.PHONY: build build-arch build-indep
