#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- --enable-reduced-depends --libdir=/lib

override_dh_auto_install:
	dh_auto_install
	rm debian/libpam-krb5/lib/security/*.la
	chmod 644 debian/libpam-krb5/lib/security/*.so
	install -d debian/libpam-krb5/usr/share/pam-configs
	install -m 644 debian/pam-auth-update \
	    debian/libpam-krb5/usr/share/pam-configs/krb5

override_dh_installchangelogs:
	dh_installchangelogs NEWS
