Source: libpam-heimdal
Section: non-US/main
Priority: optional
Maintainer: Brian May <bam@debian.org>
Standards-Version: 3.0.1
Build-Depends: heimdal-dev

Package: libpam-heimdal
Architecture: any
Depends: ${shlibs:Depends}
Description: PAM module for Heimdal
 A Kerberos v5 pam module for use with Heimdal kerberos. This
 module should only be used for local logins unless you really know
 what you are doing.
