Source: libpam-krb5
Section: net
Priority: optional
Maintainer: Sam hartman <hartmans@debian.org>
Standards-Version: 3.0.1
Build-Depends: libkrb5-dev, libdb2-dev, debhelper (>= 2.0.0), comerr-dev, libpam0g-dev

Package: libpam-krb5
Architecture: any
Depends: ${shlibs:Depends}
Description: PAM module for MIT Kerberos
 A Kerberos v5 pam module for use with MIT kerberos. This
 module should only be used for local logins unless you really know
 what you are doing.
